.skill-box{
    background-color: #FFF;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    widows: 450px;
}

.skill-box .skill-name{
    text-align: center;
    margin-bottom:15px ;
    font-size: 20px;
    font-weight:bold ;

}

.skill-box .skill-progress{
    background-color: #ccc;
    padding: 10px;
    position: relative;

}

.skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #f00;

}